.header{
    display: flex;                      /*makes all the components under this to be in same line.*/
    align-items: center;                /*aligns them vertically center*/
}

.title{
    color: white;
    font-size: xx-large;
    margin-right: 500px;
}

.page{
    color: white;
    font-size: x-large;
    margin-right: 50px;
}

.profile{
    color: white;
    font-size: x-large;
    margin-right: 50px;
}