html,body{
    height: 100%;
    margin-top: 0;
    padding: 0;
}

.header{
    display: flex;                      /*makes all the components under this to be in same line.*/
    align-items: flex-start;                /*aligns them vertically center*/
    margin-top: 2%;
}

.title{
    color: white;
    font-size: xx-large;
    margin-right: 500px;
}

.page{
    color: white;
    font-size: x-large;
    margin-right: 50px;
}

.profile{
    color: white;
    font-size: x-large;
    margin-right: 50px;
}