/* resets the css of the website */
#root {
  display: flex;
  justify-content: flex-start; /* Ensures content starts from the top */
  align-items: flex-start;
  height: 100%;
}

body, html {
  background-color: orange;
  height: 100%;
  margin: 0;
  padding: 0;
}
